diff-match-patch
Django=2.0.11
django-crispy-forms
django-formtools
django-import-export
django-pure-pagination
django-ranged-response
django-reversion
django-simple-captchas
et-xmlfile
future
httplib2
jdcal
mysqlclient
odfpy
openpyxl
Pillow
pytz
PyYAML
six
tablib
unicodecsv
xlrd
xlwt
PyMysql
